body{
	background: #dedede;
	font-family: arial;
	margin: 0;
	padding: 0;
}
.dropdwn{
	margin: 0 auto;
}
nav{
	height: 60px;
	background: #2c3e50;
	box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.logo{
	padding: 10px 0 0 80px;
	width: 250px;
	height: auto;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background: #2c3e50;
	position: relative;
	list-style: none;
	display: inline-block;;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-size: 13px;
	transition: .5s;
}
nav ul li a:hover{
	background: #243342;
}
nav ul ul{
	position: absolute;
	top: 60px;
	line-height: 20px !important;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
	line-height: 20px !important;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
}
.body{
	padding: 0 20px;
}

.body p{
	text-align: justify;
}

.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 10px 10px;
	font-size: 10px;
	cursor: pointer;
  }
  .btn:hover {
	background-color: RoyalBlue;
  }
  .button {
  position: absolute;
  font-size: 10px;
  
  }
  
  *{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
  }
}
.middle{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.counting-sec{
  padding: 40px 0;
  width: 100%;
  background: linear-gradient(90deg,#3c6382,green);
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.col i{
  font-size: 40px;
  color: #333;
}
.num{
  font-size: 40px;
  margin: 20px 0;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}





.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}


.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}